<html lang="">
<header>

</header>
<body>
<div>
    <h1>Long Polling Chat with SQLAlchemy</h1>
    <label for="message">Message: </label>
    <div id="messages"></div>
</div>
<script>
    let urlParams;
    (window.onpopstate = function () {
        let match,
            pl = /\+/g,
            search = /([^&=]+)=?([^&]*)/g,
            decode = function (s) {
                return decodeURIComponent(s.replace(pl, " "));
            },
            query = window.location.search.substring(1);

        urlParams = {};
        while (match = search.exec(query))
            urlParams[decode(match[1])] = decode(match[2]);
    })();

    let eventSource;
    const currentDMUserId = urlParams["userId"];
    const currentChannelId = urlParams["channelId"];

    function connectToMessageStream() {
        eventSource = new EventSource('api/message/stream');
        eventSource.onmessage = function (event) {
            const data = JSON.parse(event.data);
            if (data.type === 'channel_message') {
                handleChannelMessage(data.channel_id, data.message);
            } else if (data.type === 'dm_message') {
                handleDMMessage(data.author_id, data.message);
            }
        };
    }

    function handleChannelMessage(channelId, message) {
        if (currentChannelId === channelId) {
            displayMessage(message);
        } else {
            showNotification('New channel message', message.content);
        }
    }

    function handleDMMessage(author_id, message) {
        if (currentDMUserId === author_id) {
            displayMessage(message);
        } else {
            showNotification('New DM', message.content);
        }
    }

    function displayMessage(message) {
        console.log('New message:', message);
        document.getElementById('messages').innerHTML += "<br>" + message.content;
    }

    function showNotification(title, body) {
        if (Notification.permission === "granted") {
            new Notification(title, {body: body});
        }
    }

    // Connect to the message stream when the user logs in
    connectToMessageStream();
</script>
</body>
</html>