<html lang="">
<header>

</header>
<body>
<div>
    <h1>Long Polling Chat with SQLAlchemy</h1>
    <label for="message">Message: </label>
    <input id="message" type="text" placeholder="Type a message..."/>
    <button onclick="sendMessage()">Send</button>
    <div id="messages"></div>
</div>
<script>
    async function poll() {
        const response = await fetch('/poll/');
        const data = await response.json();
        const messagesDiv = document.getElementById("messages");
        messagesDiv.innerHTML += '<p> <br>' + data.messages.join('<br>');
        await poll();
    }

    function sendMessage() {
        const messageInput = document.getElementById("message");
        fetch('/send/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({message: messageInput.value}),
        });
        messageInput.value = '';
    }

    poll(); // Start the initial poll
</script>
</body>
</html>