<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startsite</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">
<div class="text-center">
    <h1 class="text-3xl font-bold text-gray-800 mb-6">Welcome to My Website</h1>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full mx-2 transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-110"
            onclick="window.location.href='/login'">
        Login
    </button>

    <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-full mx-2 transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-110"
            onclick="window.location.href='/register'">
        Register
    </button>

    <form action="/api/user/logout" method="POST">
        <input type="submit" value="Logout">
    </form>

</div>
</body>
</html>